.hero-mesh {
    background: url("https://wallpapercrafter.com/desktop/121996-Ori-and-the-Will-of-the-Wisps-screen-shot-video-games-colorful-Ori.jpg");
    background-position: center;
    background-size: cover;
}

